.h1class {
    color:#cc1414;
    font-size: 55px;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 1px 2px 3px #000000;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-class {
width: 50%;
margin: 15px;
    box-shadow: 0px 5px 8px 5px #e21f1f;
     display: block;
  margin-left: auto;
  margin-right: auto;
    

}

.link{
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
    

    
}
.p1{
    font-size: 25px;
    color: #bc3838;
    text-align: center;
     margin-left: auto;
  margin-right: auto;
}

p{
    margin: 20px;
    font-size: 21px;  
    color: #d923b6;
    display: block;
    margin-right: auto;
    margin-left: auto;
    font-size: 35px;
    
    
}

.p2{
    margin-left: auto;
    margin-right: auto;
    color: green;
    font-size: 32px
    
}

h3{
    color: #aebc0b;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    font-size: 30px;
    
}
 
body {
  background-color: antiquewhite;
}


img.resize {
    margin: 10px;
  max-width:45%;
  max-height:45%;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0px 5px 8px 3px #000000;    
}



